{% extends "eatHokies/base.html" %}
{% load static %}

{% block page-css %}{% static "css/variant.css" %}{% endblock %}

{% block page-title %}Log In{% endblock %}

{% block page-header %}
        <div id="primary-nav">
            <div class="nav-buttons">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block login-page %}
    <div id="content">
        <div id="description">
            <h1>Truly, everything tastes amazing.</h1>
            <p>Forget all those preconceived notions of nasty cafeteria food. At Virginia Tech, we maintain a perfect balance between good and healthy food.
                So join us and stay healthy!</p>
        </div>


        <form id="Sign-up" action="{% url "users:login" %}" method="POST">
            {% csrf_token %}
            <h1>Sign In</h1>
            <label class="email-label">Username</label>
            <input type="text" id="email" name="username" placeholder="Enter Username">
            <label class="pass-label">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Password">

            <p>Forgot your password?</p>
            <input type="submit" id="submit" name="submit" value="Sign In">
            <p>Don’t have an account yet?</p> <a href="{% url 'users:register' %}">Create an account</a>
        </form>

    </div>
{% endblock %}