.item-image{
    /*width: fit-content;*/
}

ul.messages{
    padding-left: 0;
    padding-right: 0;
}

ul.messages li.info{
    margin: 0;
    background-color: lightskyblue;
    padding: 1em;
}

.image{
    display: inline-block;
    /*width: 100%;*/
}

.image img{
    width: 100%;
}
.item-image{
        background-color: #9999;
    }

.item-description{
        /*padding: 5px 10px;*/
    }

.item-quantity{
        margin-top: 30px;
    }

.item-quantity p{
        display: inline-block;
        margin: 0;
        position: relative;
        bottom: 10px;
        font-size: x-large;
    }

.item-quantity button span{
        font-family: Acherus Grotesque, Montserrat, Helvetica, Arial, SansSerif;
        font-size: 15px;
    }

.minus-icon{
        margin-right: 10px;
    }

.plus-icon{
        margin-left: 10px;
    }

.cart-button{
        position: relative;
        padding: 0px 5px;
        width: 40%;
        margin-left: 4.852%;
        margin-top: 20px;
        height: 46px;
        bottom: 12px;
        cursor: pointer;
    }

.edit-button{
        /*float: left;*/
        /*padding-left: 2%;*/
    display: block;
    }

.edit-button img{
        height: 20px;
    }

div .item-quantity p.date-posted{
    margin-top: 15px;
    font-size: medium;
}

div .item-quantity p.creator{
    font-size: medium;
}

p.cart-success{
    color: darkgreen;
    padding-left: 5px;
    font-size: small;
    /*display: block;*/
}

div .item-quantity p.quantity-success{
    color: darkgreen;
    display: block;
    margin-top: 15px;
    font-size: small;
    border: none;
}

.comments{
    padding-left: 10px;
}

.user-comment textarea{
    background-color: #fdfdfd;
    border-radius: 5px;
    margin: 20px 0 5px 0;
    width: 95%;
    height: 50px;
    padding: 5px;
}

.user-comment p{
    color: darkgreen;
    display: block;
    /*margin-top: 10px;*/
    font-size: small;
    border: none;
}

.user-comment-recorded{
    display: inline-block;
}

.user-comment-time{
    display: inline-block;
    font-size: small;
    padding: 0 2px;
}

.comments-recorded .edit-button{
    display: inline-block;
}

.submit-button{
    padding: 10px;
    cursor: pointer;
}

#profile-info{
    color: #861f41;
    text-align: center;
    font-size: 2em;
    padding-top:20px;
    padding-bottom: 20px;
}


.profile-and-actions{
    display: flex;
    align-items: start;
    justify-content: center;
}

.user-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.edit-button img{
    width: 25px;
    height: 25px;
    float: right;
    margin-right: calc(2*20px);
}

.user-detail .field{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom:10px;
}

.user-detail .field-value{
    font-size: 1.2rem;
    padding-left:10px;
    padding-bottom:10px;
}

/*
styling the top content class view
*/
.profile-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

/*
styling to display pictures for items
*/
.picture-container-element{
    margin-right: calc(4*20px);
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}


@media all and (min-width: 1450px){ /*1442px*/
    .content{
        background-color: #cccccc;
        padding: 60px;
        border: 1px solid;
        width: 93.191%;
    }

    .item-image{
        background-color: #9999;
        /*height: 831px;*/
        width: 100%;
    }

    .image{
        /*width: fit-content;*/
    }

    .image img{
        width: 1000px;
        height: 800px;
    }

    .item-description{
        /*margin: 30px;*/
        display: inline-block;
        height: auto;
        width: 100%;
        /*width: 610px;*/
    }

    .item-quantity{
        margin-top: 30px;
        /*width: 85%;*/
    }

    .minus-icon{
        margin-right: 10px;
    }

    .plus-icon{
        margin-left: 10px;
    }

    .item-quantity p{
        display: inline-block;
        margin: 0;
        position: relative;
        bottom: 10px;
        font-size: x-large;
    }

    .item-quantity button span{
        font-size: 22px;
    }

    .cart-button{
        position: relative;
        padding: 0px 14px;
        width: 75%;
        height: 46px;
        margin: 20px 0;
        bottom: 12px;
        cursor: pointer;
    }

    p.cart-success{
        font-size: medium;
    }

    .comments{
        padding-left: 0;
    }


    /*overwriting the top content class*/
    .top-content{
        padding: 0 60px;
        flex-direction: column;
        margin: 0;
    }

    /*overwriting the top picture container class*/
    .picture-container{
        display: flex;
        overflow-y: auto;
    }

     /*overwriting the top product comment related classes*/
    .user-comment textarea, .product-comment h3{
        margin-left: 20px;
    }

    .product-recommendation{
        padding-left: 20px;
    }



}